<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active"  class="navbar-brand">Simple App</a>
    </div>
    <div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contacts']" routerLinkActive="router-link-active"  class="nav-link">Contacts</a>
            </li>
        </ul>
    </div>

  </nav>